<h1>login</h1>

<form action="/auth/login" method="POST">
	<div class="row">
		<div class="input-feild col s12 m6">
			<label for="email">Email</label>
			<input type="email" id="email" name="email" class="validate">
		</div>
		<div class="input-feild col s12 m6">
			<label for="password">Password</label>
			<input type="password" id="password" name="password" class="validate">
		</div>
	</div>
	<button class="btn waves-effect waves-light" type="submit" name="action">Submit
  </button>
</form>