<div class="container">
	<h2> My Stories</h2>
	<br>
	<hr>
	<div class="container">
		<% stories.forEach(function(s){ %>
			<a href="/stories/<%= s.id %>">
				<%= s.title %>
			</a>
			<a href="/stories/<%= s.id %>/edit" class="btn btn-warning edit-form">Edit story</a>
			<a href="/stories/<%= s.id %>" class="btn delete-btn">Delete Story</a>
			<br>
		<% }); %>
	</div>
</div>