<div class="container">
	<h2> My Stories</h2>
	<br>
	<hr>
	<div class="container">
		<% articles.forEach(function(a){ %>
			<a href="/articles/<%= a.id %>">
				<%= a.title %>
			</a>
			<a href="/articles/<%= a.id %>/edit" class="btn btn-warning edit-form">Edit story</a>
			<a href="/articles/<%= a.id %>" class="btn delete-btn">Delete Story</a>
			<br>
		<% }); %>
	</div>
</div>