<h1>Story Submision Form</h1>


<form method="POST" action="/articles">
	Title: <input type="text" name="title" class="tr" required>
	<div class="input-field col s12">
		<select name="userId">
			<option value="" disabled selected>Choose Your name below</option>
			<% if(users){ %>
				<% users.forEach(function(a){ %>
				<option value="<%= a.id %>">
					<%= a.name %>
				</option>
				<% }); %>
			<% } %>
			</select>
			<label>Auther</label>
	</div>
	<div>
	<label> content: </label>
	<input type="text" name="content" class="form-group" required>
</div>
	<div class="form-group">
		<label for="tags">Tags:</label>
		<input type="text" name="tags" class="form-control" placeholder="Tag topics! Seperate by commas!">
	</div>
	<input type="submit" value="Add Article">
</form>