<div class="container">
	<h2> Recently Submited Stories</h2>
	<br>
	<hr>
	<div class="container">
		<% stories.forEach(function(s){ %>
			<a href="/stories/<%= s.id %>">
				<%= s.title %>
			</a>
			<br>
			<hr>
		<% }); %>
	</div>
</div>